@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

/* global setting */
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #bca366;
}

/* nav section */

nav {
  position: relative;
  z-index: 3;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8rem;
  width: 90rem;
  max-width: 90%;
  background-color: #222;
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0,0,0,.4);
  padding: 0 10rem;
}

nav ul li a {
  margin: 0 .7rem;
  color: #ccc;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 100;
  font-family: 'Playfair';
  text-shadow: 2px 2px 1px rgba(0,0,0,.6);
  letter-spacing: 1px;
}

nav ul li a:hover {
  color: #fff;
}

nav ul li a.hl {
  color: #fff;
  text-decoration: line-through;
}

/* content||main section */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .part {
  display: flex;
  background-color: #ede4d3;
  width: 80rem;
  padding: 0 3rem;
  margin-bottom: 5px;
  max-width: 85%;
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
}

main .part:nth-child(odd) {
  transform: perspective(100px) rotateX(-1deg) translateY(3px);
}

main .part:nth-child(even) {
  transform: perspective(100px) rotateX(1deg);
}

main .part img {
  height: 200px;
}

main .part article {
  padding-top: 3rem;
  padding-left: 4rem;
  color: #222;
}

main .part article h1 {
  font-size: 3rem;
}

main .part article p {
  font-size: 1.5rem;
  margin-top: 3rem;
  max-width: 35rem;
}

/* about page content's style setting */
section.info div.wrapper {
  width: 90rem;
  max-width: 90%;
  height: 80vh;
  min-height: 420px;
  max-height: 660px;
  margin: 0 auto;
  padding: 3rem;
  background: #ede4d3 url('../images/about/H1.jpg') no-repeat right;
  background-size: cover;
  border-radius: 3px;
  box-shadow: 4px 4px 10px rgba(0,0,0,.2);
}

section.info div.wrapper article {
  position: relative;
  max-width: 50rem;
  background-color: rgba(225,225,225,.6);
  padding: 3rem;
  border-radius: 10px;
}

section.info div.wrapper article h1 {
  font-size: 4rem;
  font-family: 'Playfair';
}

section.info div.wrapper article p {
  font-size: 1.4rem;
  margin-top: 1.5rem;
}

section.info div.wrapper article p:nth-child(2) {
  margin-top: 0;
  font-size: 1.2rem;
}

section.info div.wrapper a {
  position: relative;
  top: -0.8rem;
  left: -6rem;
  padding: 1.5rem 4rem;;
  box-sizing: content-box;
  width: 30rem;
  max-width: 90%;
  margin: 0 auto;
  background-color: #222;
  color: #eee;
  text-decoration: none;
  font-size: 2.3rem;
  letter-spacing: 1px;
  font-family: 'Playfair';
  text-transform: capitalize;
  border-radius: 2px;
  box-shadow: 4px 4px 3px rgba(0,0,0,.3);
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
  transition: all .33s cubic-bezier(0.2, 0.82, 0.62, 1.63);
}

section.info div.wrapper a:hover {
  position: relative;
  top: -1.6rem;
  color: #fff;
}

section.contact div.wrapper {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  width: 90rem;
  max-width: 90%;
  margin: 0 auto;
}

section.contact div.wrapper div.parts {
  width: 23%;
  color: #ddd;
  font-size: 1.2rem;
  background-color: #222;
  padding: 2rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
  box-shadow: 4px 4px 10px rgba(0,0,0,.1);
  border-radius: 2px;
  overflow: hidden;
  transition: transform .2s cubic-bezier(0.2, 0.82, 0.62, 1.63);
}

section.contact div.wrapper div.parts:hover {
  transform: scale(1.1);
}
